<form class="{{cssClass}} flexcol" autocomplete="off" data-actor-id="{{actor._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <div class="container">

        {{!-- Sheet Header --}}
        <section class="sheet-header">
            <div class="sheet-portrait">
                <img class="photo" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
                <div class="status">
                    <div class="status-box">
                        <div class="status-name">{{localize 'STATUS.Info'}}</div>
                        <div class="status-score"><label class="checkbox"><input type="checkbox" title="{{localize 'STATUS.InfoL'}}" name="data.status.investigation.value" {{checked data.status.investigation.value}}/></label></div>
                    </div>
                    <div class="status-box">
                        <div class="status-name">{{localize 'STATUS.FumbleH'}}</div>
                        <div class="status-score"><input name="data.status.fumble.value" title="{{localize 'STATUS.FumbleL'}}" type="number" min="0" value="{{data.status.fumble.value}}"/></div>
                    </div>
                    <div class="status-box">
                        <div class="status-name">{{localize 'STATUS.SleepS'}}</div>
                        <div class="status-score"><input name="data.status.sleep.value" title="{{localize 'STATUS.SleepL'}}" type="number" value="{{data.status.sleep.value}}"/></div>
                    </div>
                    <div class="status-box">
                        <div class="status-name">{{localize 'STATUS.TraumaH'}}</div>
                        <div class="status-score"><input name="data.status.trauma.value" title="{{localize 'STATUS.TraumaL'}}" type="number" value="{{data.status.trauma.value}}"/></div>
                    </div>
                    <div class="status-box">
                        <div class="status-name">{{localize 'STATUS.MajorWoundesOffsetS'}}</div>
                        {{#if data.status.unconscious.value}}
                        <div class="status-score"><i class="fas fa-user-slash"></i></div>
                        {{else}}
                            {{#if data.status.mpmajorWounds.value}}
                                {{#if data.status.bpmajorWounds.value}}
                                    <div class="status-score double"><i class="fas fa-head-side-virus"></i> <i class="fas fa-user-injured"></i></div>
                                {{else}}
                                    <div class="status-score"><i class="fas fa-head-side-virus"></i></div>
                                {{/if}}
                            {{else}}
                                {{#if data.status.bpmajorWounds.value}}
                                    <div class="status-score"><i class="fas fa-user-injured"></i></div>
                                {{else}}
                                    <div class="status-score"><i class="fas fa-smile"></i></div>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </div>
                    <div class="status-box">
                        <div class="status-name">{{localize 'STATUS.AlertS'}}</div>
                        <div class="status-score"><label class="checkbox"><input type="checkbox" title="{{localize 'STATUS.AlertL'}}" name="data.status.alert.value" {{checked data.status.alert.value}}/></label></div>
                    </div>
                </div>
            </div>
            <div class="infos">
                <div class="row flexrow">
                    <label>{{localize 'SATASUPE.Name'}} :</label>
                    <input name="name" type="text" value="{{actor.name}}"/>
                </div>
                <div class="row flexrow">
                    <label>{{localize 'SATASUPE.Homeland'}} :</label>
                    <input name="data.infos.homeland" type="text" value="{{data.infos.homeland}}"/>
                </div>
                <div class="row flexrow">
                    <label><a class="sexroll" title="{{localize 'SATASUPE.SexRoll'}}">{{localize 'SATASUPE.Sex'}} :</a></label>
                    <input name="data.infos.sex" type="text" value="{{data.infos.sex}}"/>
                </div>
                <div class="row flexrow">
                    <label><a class="ageroll" title="{{localize 'SATASUPE.AgeRoll'}}">{{localize 'SATASUPE.Age'}} :</a></label>
                    <input name="data.infos.age" type="number" min="0" value="{{data.infos.age}}"/>
                </div>
                <div class="row flexrow">
                    <label>{{localize 'SATASUPE.Style'}} :</label>
                    <input name="data.infos.style" type="text" value="{{data.infos.style}}"/>
                </div>
                <div class="row flexrow">
                    <label>{{localize 'SATASUPE.Likes'}} :</label>
                    <input name="data.infos.likes" type="text" value="{{data.infos.likes}}"/>
                </div>
                <div class="row flexrow">
                    <label>{{localize 'SATASUPE.Dislikes'}} :</label>
                    <input name="data.infos.dislikes" type="text" value="{{data.infos.dislikes}}"/>
                </div>
                <div class="row flexrow">
                    <label>{{localize 'SATASUPE.Team'}} :</label>
                    <input name="data.infos.team" type="text" value="{{data.infos.team}}"/>
                </div>
                <div class="row flexrow">
                    <label>{{localize 'SATASUPE.Alliance'}} :</label>
                    <input name="data.infos.alliance" type="text" value="{{data.infos.alliance}}"/>
                </div>
                <div class="row flexrow">
                    <label>{{localize 'SATASUPE.Hierarchy'}} :</label>
                    <input name="data.infos.hierarchy" type="text" value="{{data.infos.hierarchy}}"/>
                </div>
                <div class="row flexrow">
                    <label>{{localize 'SATASUPE.Surface'}} :</label>
                    <input name="data.infos.surface" type="text" value="{{data.infos.surface}}"/>
                </div>
                <div class="row flexrow">
                    <label>{{localize 'SATASUPE.Language'}} :</label>
                    <input name="data.infos.language" type="text" value="{{data.infos.language}}"/>
                </div>
                <div class="row flexrow favorite">
                    <label><a class="favorite-button" title="{{localize 'SATASUPE.FavoriteRoll'}}">{{localize 'SATASUPE.Favorite'}} :</a></label>
                    <input name="data.infos.favorite" type="text" value="{{data.infos.favorite}}"/>
                </div>
                {{#if data.favmovie}}
                <div class="row flexrow">
                    <label>{{localize 'SATASUPE.FavMovie'}} :</label>
                    <input name="data.infos.movie" type="text" value="{{data.infos.movie}}"/>
                </div>
                {{/if}}
                <div class="row flexrow">
                    <label>{{localize 'SATASUPE.Haven'}} :</label>
                    <select class="haven-place" name="data.infos.haven" data-dtype="String" value="{{data.infos.haven}}">
                            <option hidden value="">{{localize 'SATASUPE.Select'}}</option>
                        {{#select data.infos.haven}}
                            <option value="minami">{{localize 'SATASUPE.MINAMI'}}</option>
                            <option value="chinatown">{{localize 'SATASUPE.CHINATOWN'}}</option>
                            <option value="warship">{{localize 'SATASUPE.WARSHIP'}}</option>
                            <option value="civic">{{localize 'SATASUPE.CIVIC'}}</option>
                            <option value="downtown">{{localize 'SATASUPE.DOWNTOWN'}}</option>
                            <option value="shaokin">{{localize 'SATASUPE.SHAOKIN'}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="characteristics">
                <div class="char-boxes">
                    <div class="char-boxtytle">
                        <div class="tytle-name">{{localize 'SATASUPE.CRICUMSTANCE'}}</div>
                    </div>
                    {{#each data.circumstance as |circumstance key|}}
                    <div class="char-box"  data-characteristic="{{key}}" draggable="true">
                        <div class="charac-name">{{localize circumstance.short}}</div>
                        <div class="charac-score">
                            <div class="main-score">
                                <input class="characteristic-score" type="number" min="0" max="8" name="data.circumstance.{{key}}.value" value="{{circumstance.value}}" data-dtype="Number"/>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="char-boxes2">
                    <div class="aptitude">
                        <div class="char-boxtytle">
                            <div class="tytle-name">{{localize 'SATASUPE.APTITUDE'}}</div>
                        </div>
                        {{#each data.aptitude as |aptitude key|}}
                        <div class="char-box"  data-characteristic="{{key}}" draggable="true">
                            <div class="charac-name">{{localize aptitude.short}}</div>
                            <div class="charac-score">
                                <div class="main-score">
                                    <input class="characteristic-score" type="number" min="0" max="8" name="data.aptitude.{{key}}.value" value="{{aptitude.value}}" data-dtype="Number"/>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="combat">
                        <div class="char-boxtytle">
                            <div class="tytle-name">{{localize 'EXP.COMBATPOWERS'}} ({{localize 'SATSUPE.total'}}:{{data.exp.combatpower.value}})</div>
                        </div>
                        {{#each data.combat as |combat key|}}
                        <div class="char-box"  data-characteristic="{{key}}" draggable="true">
                            <div class="charac-name">{{localize combat.short}}</div>
                            <div class="charac-score">
                                <div class="main-score">
                                    <input class="characteristic-score" type="number" min="0" name="data.combat.{{key}}.value" value="{{combat.value}}" data-dtype="Number"/>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="others">
                    <div class="attribs-boxes">
                        <div class="attribs">
                            <div class="others-name">{{localize 'ATTRIBS.BPS'}}</div>
                            <div class="others-score">
                                <div class="main-score">
                                    <input class="bp" name="data.attribs.bp.value" title="{{localize 'ATTRIBS.BPL'}}" type="number" value="{{data.attribs.bp.value}}" data-dtype="Number"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="attribs-boxes">
                        <div class="attribs">
                            <div class="others-name">{{localize 'ATTRIBS.MPS'}}</div>
                            <div class="others-score">
                                <div class="main-score">
                                    <input class="mp" name="data.attribs.mp.value" title="{{localize 'ATTRIBS.MPL'}}" type="number" value="{{data.attribs.mp.value}}" data-dtype="Number"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="attribs-boxes">
                        <div class="attribs">
                            <div class="others-name">{{localize 'ATTRIBS.WPS'}}</div>
                            <div class="others-score">
                                <div class="main-score">
                                    <input name="data.attribs.wallet.value" title="{{localize 'ATTRIBS.WPL'}}" type="number" value="{{data.attribs.wallet.value}}" data-dtype="Number"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="attribs-boxes">
                        <div class="attribs">
                            <div class="others-name alignmentroll"><a>{{localize 'ATTRIBS.ALIGNMENTS'}}</a></div>
                            <div class="others-score">
                                <div class="main-score">
                                    <input name="data.attribs.alignment.value" title="{{localize 'ATTRIBS.ALIGNMENTL'}}" type="number" value="{{data.attribs.alignment.value}}" data-dtype="Number"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="attribs-boxes">
                        <div class="attribs">
                            <div class="others-name">{{localize 'ATTRIBS.DRPS'}}</div>
                            <div class="others-score">
                                <div class="main-score">
                                    <input name="data.attribs.drp.value" title="{{localize 'ATTRIBS.DRPL'}}" type="number" value="{{data.attribs.drp.value}}" data-dtype="Number"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="exp">
                    <div class="exp-boxes">
                        <div class="exp-box">
                            <div class="exp-name">{{localize 'EXP.UNUSEDEXPS'}}</div>
                            <div class="exp-score">
                                <input name="data.usedexp.unused" title="{{localize 'EXP.UNUSEDEXPL'}}" type="number" value="{{data.usedexp.unused}}" data-dtype="Number"/>
                            </div>
                        </div>
                    </div>
                    <div class="exp-boxes">
                        <div class="exp-box">
                            <div class="exp-name">{{localize 'EXP.EXPGAINS'}}</div>
                            <div class="exp-score">
                                <input name="data.exp.expgain.value" title="{{localize 'EXP.EXPGAINL'}}" type="number" value="{{data.exp.expgain.value}}" data-dtype="Number"/>
                            </div>
                        </div>
                    </div>
                    <div class="exp-boxes">
                        <div class="exp-box">
                            <div class="exp-name">{{localize 'STATUS.REACTION'}}</div>
                            <div class="exp-score">
                                <input name="data.status.reaction.value" title="{{localize 'STATUS.REACTION'}}" type="text" value="{{data.status.reaction.value}}" data-dtype="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="exp-boxes">
                        <div class="exp-box">
                            <div class="exp-name">{{localize 'STATUS.SIZE'}}</div>
                            <div class="exp-score">
                                <input name="data.status.size.value" title="{{localize 'STATUS.SIZE'}}" type="text" value="{{data.status.size.value}}" data-dtype="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="exp-boxes">
                        <div class="exp-box">
                            <div class="exp-name">{{localize 'STATUS.Drop'}}</div>
                            <div class="exp-score">
                                <input name="data.status.drop.value" title="{{localize 'STATUS.Drop'}}" type="text" value="{{data.status.drop.value}}" data-dtype="text"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="other-status">{{localize 'SATASUPE.OtherStatus'}}</a>
            <a class="item" data-tab="karma">{{localize 'SATASUPE.Karma'}}</a>
            <a class="item" data-tab="equipment">{{localize 'SATASUPE.Equipment'}}</a>
            <a class="item" data-tab="history">{{localize 'SATASUPE.History'}}</a>
            {{#if data.showchatpalette}}<a class="item" data-tab="chatpalette">{{localize 'SATASUPE.Chatpalette'}}</a>{{/if}}
            <a class="item" data-tab="buttons">Buttons</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            <div class="tab other-status" data-group="primary" data-tab="other-status">
                {{> "systems/satasupe/templates/parts/actor-other.html"}}
            </div>
            <div class="tab karma" data-group="primary" data-tab="karma">
                {{> "systems/satasupe/templates/parts/actor-karma.html"}}
            </div>
            <div class="tab equipment" data-group="primary" data-tab="equipment">
                {{> "systems/satasupe/templates/parts/actor-equipment.html"}}
            </div>
            <div class="tab history" data-group="primary" data-tab="history">
                {{> "systems/satasupe/templates/parts/npc-history.html"}}
            </div>
            {{#if data.showchatpalette}}<div class="tab chatpalette" data-group="primary" data-tab="chatpalette">
                {{> "systems/satasupe/templates/parts/actor-chatpalette.html"}}
            </div>{{/if}}
            <div class="tab buttons" data-group="primary" data-tab="buttons">
                {{> "systems/satasupe/templates/parts/actor-buttons.html"}}
            </div>
        </section>
    </div>
</form>