<form>
    <div class="addiction" style="display:flex;justify-content: space-between;">
        <i style="align-items: center;display: none;" class="fas fa-check-square fa-2x"></i><i style="align-items: center;display: flex;" class="far fa-square fa-2x"></i>
        <button style="width:300px" class="after-play-list" data-after="addiction">{{localize "SATASUPE.AddictionCheck"}}</button>
        <div class="progressbar" data-type="addiction" style="display:flex;flex-direction: column;justify-content: center;align-items: center;width:35px;height:35px">
            <div style="display:grid;height:100%;text-align: center;place-items: center;">
                <div class="circular">
                    <div class="inner"></div>
                    <div class="number">100%</div>
                    <div class="circle"><div class="bar left"><div class="progress"></div></div><div class="bar right"><div class="progress"></div></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="karma" style="display:flex;justify-content: space-between;">
        <i style="align-items: center;display: none;" class="fas fa-check-square fa-2x"></i><i style="align-items: center;display: flex;" class="far fa-square fa-2x"></i>
        <button style="width:300px" class="after-play-list" data-after="karma">{{localize "SATASUPE.KarmaCheck"}}</button>
        <div class="progressbar" data-type="karma" style="display:flex;flex-direction: column;justify-content: center;align-items: center;width:35px;height:35px">
            <div style="display:grid;height:100%;text-align: center;place-items: center;">
                <div class="circular">
                    <div class="inner"></div>
                    <div class="number">100%</div>
                    <div class="circle"><div class="bar left"><div class="progress"></div></div><div class="bar right"><div class="progress"></div></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="aftertable" style="display:flex;justify-content: space-between;">
        <i style="align-items: center;display: none;" class="fas fa-check-square fa-2x"></i><i style="align-items: center;display: flex;" class="far fa-square fa-2x"></i>
        <button style="width:300px" class="after-play-list" data-after="afterTable">{{localize "SATASUPE.AfterTable"}}</button>
        <div class="progressbar" data-type="aftertable" style="display:flex;flex-direction: column;justify-content: center;align-items: center;width:35px;height:35px">
            <div style="display:grid;height:100%;text-align: center;place-items: center;">
                <div class="circular">
                    <div class="inner"></div>
                    <div class="number">100%</div>
                    <div class="circle"><div class="bar left"><div class="progress"></div></div><div class="bar right"><div class="progress"></div></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="discussionK" style="display:flex;justify-content: space-between;">
        <i style="align-items: center;display: none;" class="fas fa-check-square fa-2x"></i><i style="align-items: center;display: flex;" class="far fa-square fa-2x"></i>
        <button style="width:300px" class="after-play-list" data-after="discussionK">{{localize "SATASUPE.DiscussionK"}}</button>
        <div class="progressbar" data-type="discussionK" style="display:flex;flex-direction: column;justify-content: center;align-items: center;width:35px;height:35px">
            <div style="display:grid;height:100%;text-align: center;place-items: center;">
                <div class="circular">
                    <div class="inner"></div>
                    <div class="number">100%</div>
                    <div class="circle"><div class="bar left"><div class="progress"></div></div><div class="bar right"><div class="progress"></div></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="discussionM" style="display:flex;justify-content: space-between;">
        <i style="align-items: center;display: none;" class="fas fa-check-square fa-2x"></i><i style="align-items: center;display: flex;" class="far fa-square fa-2x"></i>
        <button style="width:300px" class="after-play-list"  data-type="discussionMVP" data-after="discussionMVP">{{localize "SATASUPE.DiscussionM"}}</button>
        <div class="progressbar" data-type="discussionM" style="display:flex;flex-direction: column;justify-content: center;align-items: center;width:35px;height:35px">
            <div style="display:grid;height:100%;text-align: center;place-items: center;">
                <div class="circular">
                    <div class="inner"></div>
                    <div class="number">100%</div>
                    <div class="circle"><div class="bar left"><div class="progress"></div></div><div class="bar right"><div class="progress"></div></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="prisoner" style="display:flex;justify-content: space-between;">
        <i style="align-items: center;display: none;" class="fas fa-check-square fa-2x"></i><i style="align-items: center;display: flex;" class="far fa-square fa-2x"></i>
        <button style="width:300px" class="after-play-list"  data-after="prisoner">{{localize "SATASUPE.PrisonerCheck"}}</button>
        <div class="progressbar" data-type="prisoner" style="display:flex;flex-direction: column;justify-content: center;align-items: center;width:35px;height:35px">
            <div style="display:grid;height:100%;text-align: center;place-items: center;">
                <div class="circular">
                    <div class="inner"></div>
                    <div class="number">100%</div>
                    <div class="circle"><div class="bar left"><div class="progress"></div></div><div class="bar right"><div class="progress"></div></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="upkeep" style="display:flex;justify-content: space-between;">
        <i style="align-items: center;display: none;" class="fas fa-check-square fa-2x"></i><i style="align-items: center;display: flex;" class="far fa-square fa-2x"></i>
        <button style="width:300px" class="after-play-list"  data-after="itemUpkeep">{{localize "SATASUPE.ItemUpkeep"}}</button>
        <div class="progressbar" data-type="upkeep" style="display:flex;flex-direction: column;justify-content: center;align-items: center;width:35px;height:35px">
            <div style="display:grid;height:100%;text-align: center;place-items: center;">
                <div class="circular">
                    <div class="inner"></div>
                    <div class="number">100%</div>
                    <div class="circle"><div class="bar left"><div class="progress"></div></div><div class="bar right"><div class="progress"></div></div></div>
                </div>
            </div>
        </div>
    </div>
</form>