<form id="newVote">
    <div class="question-zone"><input name="question" type="text" placeholder="{{localize 'SATASUPE.WriteQ'}}"></div>
    <div class="choices-zone" data-idt="2">
        <div class="choice" style="display: flex;"><input name="choice0" type="text" placeholder="{{localize 'SATASUPE.WriteChoice'}}"><a class="choice-delete" data-id="0" title="{{localize 'SATASUPE.Delete'}}"><i class="fas fa-trash"></i></a></div>
        <div class="choice" style="display: flex;"><input name="choice1" type="text" placeholder="{{localize 'SATASUPE.WriteChoice'}}"><a class="choice-delete" data-id="1" title="{{localize 'SATASUPE.Delete'}}"><i class="fas fa-trash"></i></a></div>
    </div>
    <button class="addChoice">{{localize "SATASUPE.AddChoice"}}</button>
</form>