<form id="tag-add-form">
    <div class="flexcol">
        <div class="flexcol">
            <label>SL : </label>
            <input name="sl" type="number" min="0"/>
        </div>
        <div class="flexrow" style="padding: 4px 0;">
            <label>{{localize 'SATASUPE.TagAddType'}} : </label>
            <select name="type">
                <option value="free">{{localize 'SATASUPE.Free'}}</option>
                <option value="randam">{{localize 'SATASUPE.Randam'}}</option>
                <option value="all">{{localize 'SATASUPE.All'}}</option>
            </select>
        </div>
        <div class="flexrow" style="padding: 4px 0;">
            <label>{{localize 'SATASUPE.AddTagNum'}} :</label>
            <input name="number" type="number" min="0" max="20"/>
        </div>
    </div>
</form>