<form id="tag-add-form">
    <div class="flexcol">
        <div class="flexcol">
            <label>SL : </label>
            <input name="sl" type="number" min="0"/>
        </div>
        <div class="flexrow" style="padding: 4px 0;">
            <label>Add Type : </label>
            <select name="type">
                <option value="free">FREE</option>
                <option value="randam">RANDAM</option>
                <option value="all">ALL</option>
            </select>
        </div>
        <div class="flexrow" style="padding: 4px 0;">
            <label>Tag number</label>
            <input name="number" type="number" min="0" max="20"/>
        </div>
    </div>
</form>