<form class="flexcol {{cssClass}}" autocomplete="off">
    <div>
        <table id="chatpalette-table" class="chatpalette-table">
            <thead>
                <tr class="header">
                    <th class="dice-folmula-text">Folmula</th>
                    <th class="other-message">Message</th>
                    <th class="add-new-chat"><a class="button" title="Add new chat palette"><i class="fas fa-plus"></i></a></th>
                    <th class="space"> </th>
                </tr>
            </thead>
            <tbody>
                {{#each data.chatpalette.chat as |section index|}}
                    <tr class="chatpalette-section" data-index='{{index}}' draggable="true">
                        <td>
                            <div class="text-section section-key" data-sectionkey="text">
                                <input class="text-input  section-input" type="text" name="section.text" data-dtype="String" value="{{section.text}}" placeholder="dice formula"/>
                            </div>
                        </td>
                        <td>
                            <div class="message-section section-key" data-sectionkey="message">
                                <input class="message-input  section-input" type="text" name="section.message" data-dtype="String" value="{{section.message}}" placeholder="other text"/>
                            <div>
                        </td>
                        <td>
                            <div  class="chatsend">
                                <input class="chatsend-button" type="button" value="Submit!"/> 
                            </div>
                        </td>
                        <td class="item-controls">
                            <a class="delete-chatpalette-section" title="DELITE"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</form>