<form class="{{cssClass}} flexcol" autocomplete="off" style="overflow-y: scroll;overflow-x: scroll;">
    <div class="investigation-header flexrow">
        <div class="investigation-name">
            <label class="investigation-namelabel">{{localize 'SATASUPE.InvestigationName'}} :</label>
            <input name="name" value="{{item.name}}"/>
        </div>        
    </div>

    <div class="investigation-main">
        <div class="investigation-sl" style="white-space: nowrap;margin-bottom:15px">

        </div>
        <div class="investigation-property" style="width: fit-content;white-space: nowrap;">
                   
        </div>    
    </div>
</form>