<form class="flexcol {{cssClass}} karma-sheet" autocomplete="off">
    <header class="karma-sheet-header">
        <div class="item-header karma-header">
            <div class="header-fields">
                <div class="header-names flexrow">
                    <h4 class="otherlangName"><input name="data.description.otherName" type="text" value="{{data.description.otherName}}" placeholder="other language name"/></h4>
                    <h1 class="name"><input name="name" value="{{item.name}}" placeholder="name"/></h1>
                </div>
                <div class="header-settings">
                    <div class="karma-type select-group stacked">
                        <select name="data.type.name" data-dtype="String">
                                <option hidden value="">SELECT</option>
                            {{#select data.type.name}}
                                <option value="basic">BASIC KARMA</option>
                                <option value="advanced">ADVANCED KARMA</option>
                                <option value="monster">MONSTER KARMA</option>
                                <option value="alliance">ALLIANCE KARMA</option>
                                <option value="wideuse">WIDE USE KARMA</option>
                                <option value="bad">BAD KARMA</option>
                                <option value="team">TEAM KARMA</option>
                                <option value="booster">BOOSTER KARMA</option>
                                <option value="deadman">HETEROMORPH</option>
                                <option value="newbie">NEWBIE KARMA</option>
                            {{/select}}                     
                        </select>
                    </div>
                    <div class="karma-typeName">
                        <input name="data.description.typeName" type="text" value="{{data.description.typeName}}" placeholder="karma type name"/>
                    </div>
                    <div class="goodORbad">
                        <select name="data.abilityType.name" data-dtype="String">
                                <option hidden value="">SELECT</option>
                            {{#select data.abilityType.name}}
                                <option value="talent">INOU</option>
                                <option value="compensation">DAISYO</option>
                                <option value="heteromorph">HETEROMORPH</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs karma" data-group="primary">
        <a class="item active" data-tab="description" >MAIN</a>
        <a class="item" data-tab="setting" >SETTING</a>
    </nav>

    <section class="sheet-body karma-sheet-body">
        <div class="tab description active" data-group="primary" data-tab="description">
            <div class="text">
                <div class="margin karma-timing select-group stacked">
                    <label>TIMING :</label>
                    <select name="data.timing.name" data-dtype="String">
                            <option hidden value="">SELECT</option>
                        {{#select data.timing.name}}
                            <option value="passive">PASSIVE EFFECT</option>
                            <option value="planning">PLANNING EFFECT</option>
                            <option value="support">SUPPORT EFFECT</option>
                            <option value="auxiliary">AUXILIARY EFFECT</option>
                            <option value="interrupt">INTERRUPT EFFECT</option>
                            <option value="prologue">PROLOGUE EFFECT</option>
                            <option value="epilogue">EPILOGUE EFFECT</option>
                        {{/select}}
                    </select>
                </div>

                <div class="margin karma-target select-group stacked">
                    <label>TARGET :</label>
                    <select name="data.target.name" data-dtype="String">
                            <option hidden value="">SELECT</option>
                        {{#select data.target.name}}
                            <option value="own">OWN</option>
                            <option value="other">OTHER</option>
                            <option value="team">TEAM</option>
                            <option value="area">AREA</option>
                            <option value="item">ITEM</option>
                        {{/select}} 
                    </select>
                </div>
                <div class="margin karma-check">
                    <label>CHECK :</label>
                    {{#if data.check.none}}
                        <div class="tytle-name">NONE</div>
                    {{else}}
                        <div class="tytle-name">{{#if data.check.type}}〔ALIGNMENT〕/ {{_alignment}}{{else}}〔{{_propertiesValue}}〕/ {{data.check.difficulty}}{{/if}}</div>
                    {{/if}}
                </div>
            </div>
            <div class="photo">
                <div class="sheet-portrait">
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                </div>
            </div>

            <div class="effect">
                <div class="effect-editor">
                    <textarea class="effect-area" rows="4" cols="30" placeholder="effect text">{{data.effect}}</textarea>
                </div>
                <div class="flavor-box">
                    <input name="data.flavor" type="text" value="{{data.flavor}}" placeholder="flavor text"/>
                </div>
            </div>
        </div>


        <div class="tab setting" data-group="primary" data-tab="setting">

            <div class="setting-header">
                <label class="checkbox">
                    NO CHECK <input type="checkbox" name="data.check.none" {{checked data.check.none}}/>
                </label>
            </div>

            {{#unless data.check.none}}
                <div class="setting-main">
                    <div class="karma-type select-group stacked">
                        <label class="checkbox">
                            ALIGNMENT? <input type="checkbox" name="data.check.type" {{checked data.check.type}}/>
                        </label>
                    </div>

                    {{#unless data.check.type}}
                        <div class="check-value select-group stacked">
                            <label>CHECK VALUE</label>
                                <select class="circumstance-type" name="data.check.checkValue.name" data-dtype="String">
                                {{#select data.check.checkValue.name}}
                                        <option value="crime" selected>CRIME</option>
                                        <option value="life">LIFE</option>
                                        <option value="love">LOVE</option>
                                        <option value="cluture">CLUTURE</option>
                                        <option value="combat">COMBAT</option>
                                        <option value="body" >BODY</option>
                                        <option value="mind">MIND</option>
                                {{/select}}
                                </select>
                        </div>
                        <div class="check-difficulty-normal stacked">
                            <label>CHECK DIFFICULTY</label>
                            <input name="data.check.difficulty" type="text" value="{{data.check.difficulty}}">
                        </div>
                    {{else}}
                        <div class="check-difficulty-align stacked">
                            <label>CHECK DIFFICULTY</label>
                            <select name="data.check.alignment.name" data-dtype="String">
                                {{#select data.check.alignment.name}}
                                <option value="calm" selected>CALM</option>
                                <option value="dither">DITHER</option>
                                <option value="desire">DESIRE</option>
                                {{/select}}
                            </select>
                        </div>
                    {{/unless}}

                    <div class="check-other-difficulty stacked">
                        <label>OTHER DIFFICULTY TEXT</label>
                        <input name="data.check.checkText" type="text" value="{{data.check.checkText}}" placeholder="e.g.: If mission succeeded, 7. Other case 11">
                    </div>
                </div>
            {{/unless}}
        </div>
    </section>
</form>
