<div class="chatpalette-panel" style="height:100%;">
    <div class="bcdicesystem" style="display: flex;">
        <select name="system.selecttable.value" data-dtype="String" value="{{system.selecttable.value}}" class="bcdicetable">
            {{#select system.selecttable.value}}
                {{#each system.bcdicelist as |list key|}}
                    <option value="{{list.id}}">{{list.name}}</option>
                {{/each}}
            {{/select}}
        </select>
        <a class="button item-control information" title="{{localize 'SATASUPE.BCDiceBotInfo'}}" data-type="chatpalette" style="margin-left: 10px;padding-top: 3px;"><i class="fas fa-info-circle" style="font-size: 1.1rem;"></i></a>
        <div style="margin-left: auto;">
            <input type="button" class="loadclipbord" value="{{localize 'SATASUPE.LOADCLIPBOARD'}}"/>
            {{#if system.fvttbcdiceuse}}<input type="button" class="loadfvttbcdice" value="{{localize 'SATASUPE.LOADFVTTBCDICE'}}"/>{{/if}}
        </div>
    </div>
    <table id="chatpalette-table" class="chatpalette-table">
        <thead>
            <tr class="header">
                <th class="dice-folmula-text" title="{{localize 'SATASUPE.DicebotCommandExplanation'}}">{{localize 'SATASUPE.DiceFolmula'}}</th>
                <th class="other-message">{{localize 'SATASUPE.DiceMessage'}}</th>
                <th class="item-button item-controls"><a class="button item-control add-item" title="{{localize 'SATASUPE.AddChatpalette'}}" data-type="chatpalette"><i class="fas fa-plus"></i></a></th>
                <th class="setting"><a class="button item-control table-show-hide" title="{{localize 'SATASUPE.VariableToggle'}}" data-type="chatpalette"><i class="fas fa-cogs"></i></a></th>
            </tr>
        </thead>
        <tbody class="chatpalette-tbody">
            {{#each system.chatpalette as |item index|}}
                {{#each item.system.chatpalette.chat as |section ind|}}
                    <tr class="item chatpalette-section" data-item-id='{{item._id}}' data-index='{{index}}' data-ind='{{ind}}' draggable="false">
                        <td class="dice-folmula-text">
                            <div class="text-section section-key" data-sectionkey="text">
                                <input class="text-input  chat-section-input" type="text" name="section.text" data-dtype="String" value="{{section.text}}" placeholder="{{localize 'SATASUPE.DiceFolmula'}}"/>
                            </div>
                        </td>
                        <td class="other-message">
                            <div class="message-section section-key" data-sectionkey="message">
                                <input class="message-input  chat-section-input" type="text" name="section.message" data-dtype="String" value="{{section.message}}" placeholder="{{localize 'SATASUPE.DiceMessage'}}"/>
                            <div>
                        </td>
                        <td class="item-button send">
                            <div class="chatsend">
                                <input class="chatsend-button" type="button" value="{{localize 'SATASUPE.SUBMIT'}}"/> 
                            </div>
                        </td>
                        <td class="item-controls item-button setting">
                            <a class="item-control delete-chatpalette-section" title="{{localize 'SATASUPE.Delete'}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {{/each}}
            {{/each}}
        </tbody>
    </table>

    <table id="variable-setting-table" class="variable-setting-table {{#unless system.status.allonoff.variableonoff}}hide-table{{/unless}}">
        <thead>
            <tr class="header">
                <th class="characteristics title change" title="{{localize 'SATASUPE.TitleExplanation'}}"><div><a>{{localize 'SATASUPE.CharacteristicName'}}</a></div></th>
                <th class="variable"><div title="{{localize 'SATASUPE.VariableExplanation'}}">{{localize 'SATASUPE.VaribleText'}}</div></th>
                <th class="all-on-off"><div class="on-off"><div class="checkbox all-on-off-button">{{localize 'SATASUPE.Activate'}}({{localize 'SATASUPE.AllOnOff'}}: <input type="checkbox" style="height:16px" value="{{system.status.allonoff.value}}" data-dtype="Boolean"  name="system.status.allonoff.value"  {{checked system.status.allonoff.value}}/>)</div></div></th>
                <th class="item-button item-controls"><a class="button item-control add-new-variable" title="{{localize 'SATASUPE.VariableSetteings'}}"><i class="fas fa-plus"></i></a></th>
            </tr>
        </thead>
        <tbody class="variable-setting-tbody chatpalette-tbody">
            {{#each system.variable as |section index|}}
                <tr class="item variable-section" data-index='{{index}}' draggable="false">
                    <td>
                        <div class="characteristics-section variable-key section-key" data-sectionkey="title">
                            <input class="variable-title variable-section-input" type="text" name="section.title" placeholder="{{localize 'SATASUPE.VariableTitle'}}" data-dtype="String" value="{{section.title}}"/>
                        </div>
                    </td>
                    <td>
                        <div class="text variable-key section-key" data-sectionkey="variable">
                            <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text variable-section-input" type="text" name="section.variable" value="{{section.variable}}" data-dtype="String"/>
                        </div>
                    </td>
                    <td class="item-controls">
                        <div class="on-off section-key" data-sectionkey="substitution"><label class="checkbox"><input class="variable-section-input" type="checkbox" value="{{section.substitution}}" name="section.substitution" data-dtype="Boolean" {{checked section.substitution}}/></label></div>
                    </td>
                    <td  class="item-controls">
                        <a class="item-control delete-vatiable-section" title="{{localize 'SATASUPE.Delete'}}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {{/each}}
            {{#each system.circumstance as |circumstance key|}}
                <tr class="item variable-section" data-characteristic="{{key}}">
                    <td>
                        <div class="characteristics-section variable-key">
                            <div class="characteristic-label">{{localize circumstance.label}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="text variable-key">
                            <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="system.circumstance.{{key}}.variable" value="{{{circumstance.variable}}}" data-dtype="String"/>
                        </div>
                    </td>
                    <td class="item-controls">
                        <div class="on-off"><label class="checkbox"><input type="checkbox" name="system.circumstance.{{key}}.substitution" {{checked circumstance.substitution}}/></label></div>
                    </td>
                    <td>
                        <div class="space"> </div>
                    </td>
                </tr>
            {{/each}}
            {{#each system.aptitude as |aptitude key|}}
            <tr class="item variable-section" data-characteristic="{{key}}" draggable="false">
                <td>
                    <div class="characteristics-section variable-key">
                        <div class="characteristic-label">{{localize aptitude.label}}</div>
                    </div>
                </td>
                <td>
                    <div class="text variable-key">
                        <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="system.aptitude.{{key}}.variable" value="{{aptitude.variable}}" data-dtype="String"/>
                    </div>
                </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="system.aptitude.{{key}}.substitution" {{checked aptitude.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
            </tr>
             {{/each}}
             {{#each system.combat as |combat key|}}
             <tr class="item variable-section" data-characteristic="{{key}}" draggable="false">
                 <td>
                     <div class="characteristics-section variable-key">
                         <div class="characteristic-label">{{localize combat.label}}</div>
                     </div>
                 </td>
                 <td>
                     <div class="text variable-key">
                         <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="system.combat.{{key}}.variable" value="{{combat.variable}}" data-dtype="String"/>
                     </div>
                 </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="system.combat.{{key}}.substitution" {{checked combat.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
             </tr>
              {{/each}}
              <tr class="item variable-section" data-characteristic="majorWoundsOffset" draggable="false">
                <td>
                    <div class="characteristics-section variable-key">
                        <div class="characteristic-label">{{localize system.status.majorWoundsOffset.label}}</div>
                    </div>
                </td>
                <td>
                    <div class="text variable-key">
                        <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="system.status.majorWoundsOffset.variable" value="{{system.status.majorWoundsOffset.variable}}" data-dtype="String"/>
                    </div>
                </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="system.status.majorWoundsOffset.substitution" {{checked system.status.majorWoundsOffset.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
            </tr>
            <tr class="item variable-section" data-characteristic="sleep" draggable="false">
                <td>
                    <div class="characteristics-section variable-key">
                        <div class="characteristic-label">{{localize system.status.sleep.explain}}</div>
                    </div>
                </td>
                <td>
                    <div class="text variable-key">
                        <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="system.status.sleep.variable" value="{{system.status.sleep.variable}}" data-dtype="String"/>
                    </div>
                </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="system.status.sleep.substitution" {{checked system.status.sleep.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
            </tr>
            <tr class="item variable-section" data-characteristic="fumble" draggable="false">
                <td>
                    <div class="characteristics-section variable-key">
                        <div class="characteristic-label">{{localize system.status.fumble.label}}</div>
                    </div>
                </td>
                <td>
                    <div class="text variable-key">
                        <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="system.status.fumble.variable" value="{{system.status.fumble.variable}}" data-dtype="String"/>
                    </div>
                </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="system.status.fumble.substitution" {{checked system.status.fumble.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
            </tr>
            <tr class="item variable-section" data-characteristic="trauma" draggable="false">
                <td>
                    <div class="characteristics-section variable-key">
                        <div class="characteristic-label">{{localize system.status.trauma.label}}</div>
                    </div>
                </td>
                <td>
                    <div class="text variable-key">
                        <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="system.status.trauma.variable" value="{{system.status.trauma.variable}}" data-dtype="String"/>
                    </div>
                </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="system.status.trauma.substitution" {{checked system.status.trauma.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
            </tr>
              {{#each system.attribs as |attribs key|}}
              <tr class="item variable-section" data-characteristic="{{key}}" draggable="false">
                  <td>
                      <div class="characteristics-section variable-key">
                          <div class="characteristic-label">{{localize attribs.label}}</div>
                      </div>
                  </td>
                  <td>
                      <div class="text variable-key">
                          <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="system.attribs.{{key}}.variable" value="{{attribs.variable}}" data-dtype="String"/>
                      </div>
                  </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="system.attribs.{{key}}.substitution" {{checked attribs.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
              </tr>
               {{/each}}
        </tbody>
    </table>
</div>