<div class="other-panel" style="height:100%">
    <div class="hobby-zone">
        <div class="number family-type">
            <div class="line"><div class="family {{#if system.hobbynumerror}}color-alert{{/if}}" title="{{#if system.hobbynumerror}}{{localize 'SATASUPE.HobbyAlertTitle'}}{{/if}}">{{localize 'SATASUPE.CHOICENUM'}}:{{system.hobbychoicenumber}}</div></div>
            <div class="line"><div class="one"><i class="fas fa-dice-one fa-2x"></i></div></div>
            <div class="line"><div class="two"><i class="fas fa-dice-two fa-2x"></i></div></div>
            <div class="line"><div class="three"><i class="fas fa-dice-three fa-2x"></i></div></div>
            <div class="line"><div class="four"><i class="fas fa-dice-four fa-2x"></i></div></div>
            <div class="line"><div class="five"><i class="fas fa-dice-five fa-2x"></i></div></div>
            <div class="line"><div class="six"><i class="fas fa-dice-six fa-2x"></i></div></div>
        </div>
        <div class="subculture family-type">
            <div class="line"><div class="family">{{localize 'HOBBY.Subculture'}}</div></div>
            <div class="line"><div class="one">{{localize 'HOBBY.EVENT'}}</div></div>
            <div class="line"><div class="two"><button class="hobby-button {{#if system.hobby.subculture.abnormal.value}}button-on{{/if}}" title="{{localize system.hobby.subculture.abnormal.label}}" data-hobby="abnormal" data-family="subculture" type="button" name="{{system.hobby.subculture.abnormal.label}}">{{localize system.hobby.subculture.abnormal.label}}</button></div></div>
            <div class="line"><div class="three"><button class="hobby-button {{#if system.hobby.subculture.kawai.value}}button-on{{/if}}" title="{{localize system.hobby.subculture.kawai.label}}" data-hobby="kawai" data-family="subculture" type="button" name="{{system.hobby.subculture.kawai.label}}">{{localize system.hobby.subculture.kawai.label}}</button></div></div>
            <div class="line"><div class="four"><button class="hobby-button {{#if system.hobby.subculture.outrageous.value}}button-on{{/if}}" title="{{localize system.hobby.subculture.outrageous.label}}" data-hobby="outrageous" data-family="subculture" type="button" name="{{system.hobby.subculture.outrageous.label}}">{{localize system.hobby.subculture.outrageous.label}}</button></div></div>
            <div class="line"><div class="five"><button class="hobby-button {{#if system.hobby.subculture.fanatic.value}}button-on{{/if}}" title="{{localize system.hobby.subculture.fanatic.label}}" data-hobby="fanatic" data-family="subculture" type="button" name="{{system.hobby.subculture.fanatic.label}}">{{localize system.hobby.subculture.fanatic.label}}</button></div></div>
            <div class="line"><div class="six"><button class="hobby-button {{#if system.hobby.subculture.otaku.value}}button-on{{/if}}" title="{{localize system.hobby.subculture.otaku.label}}" data-hobby="otaku" data-family="subculture" type="button" name="{{system.hobby.subculture.otaku.label}}">{{localize system.hobby.subculture.otaku.label}}</button></div></div>
        </div>
        <div class="culture family-type">
            <div class="line"><div class="family">{{localize 'HOBBY.CULTURE'}}</div></div>
            <div class="line"><div class="one"><button class="hobby-button {{#if system.hobby.culture.music.value}}button-on{{/if}}" title="{{localize system.hobby.culture.music.label}}" data-hobby="music" data-family="culture" type="button" name="{{system.hobby.culture.music.label}}">{{localize system.hobby.culture.music.label}}</button></div></div>
            <div class="line"><div class="two">{{localize 'HOBBY.FREE'}}</div></div>
            <div class="line"><div class="three"><button class="hobby-button {{#if system.hobby.culture.trend.value}}button-on{{/if}}" title="{{localize system.hobby.culture.trend.label}}" data-hobby="trend" data-family="culture" type="button" name="{{system.hobby.culture.trend.label}}">{{localize system.hobby.culture.trend.label}}</button></div></div>
            <div class="line"><div class="four"><button class="hobby-button {{#if system.hobby.culture.reading.value}}button-on{{/if}}" title="{{localize system.hobby.culture.reading.label}}" data-hobby="reading" data-family="culture" type="button" name="{{system.hobby.culture.reading.label}}">{{localize system.hobby.culture.reading.label}}</button></div></div>
            <div class="line"><div class="five"><button class="hobby-button {{#if system.hobby.culture.perform.value}}button-on{{/if}}" title="{{localize system.hobby.culture.perform.label}}" data-hobby="perform" data-family="culture" type="button" name="{{system.hobby.culture.perform.label}}">{{localize system.hobby.culture.perform.label}}</button></div></div>
            <div class="line"><div class="six"><button class="hobby-button {{#if system.hobby.culture.art.value}}button-on{{/if}}" title="{{localize system.hobby.culture.art.label}}" data-hobby="art" data-family="culture" type="button" name="{{system.hobby.culture.art.label}}">{{localize system.hobby.culture.art.label}}</button></div></div>
        </div>
        <div class="earnest family-type">
            <div class="line"><div class="family">{{localize 'HOBBY.EARNEST'}}</div></div>
            <div class="line"><div class="one"><button class="hobby-button {{#if system.hobby.earnest.cavil.value}}button-on{{/if}}" title="{{localize system.hobby.earnest.cavil.label}}" data-hobby="cavil" data-family="earnest" type="button" name="{{system.hobby.earnest.cavil.label}}">{{localize system.hobby.earnest.cavil.label}}</button></div></div>
            <div class="line"><div class="two"><button class="hobby-button {{#if system.hobby.earnest.meddling.value}}button-on{{/if}}" title="{{localize system.hobby.earnest.meddling.label}}" data-hobby="meddling" data-family="earnest" type="button" name="{{system.hobby.earnest.meddling.label}}">{{localize system.hobby.earnest.meddling.label}}</button></div></div>
            <div class="line"><div class="three">{{localize 'HOBBY.FREE'}}</div></div>
            <div class="line"><div class="four"><button class="hobby-button {{#if system.hobby.earnest.housework.value}}button-on{{/if}}" title="{{localize system.hobby.earnest.housework.label}}" data-hobby="housework" data-family="earnest" type="button" name="{{system.hobby.earnest.housework.label}}">{{localize system.hobby.earnest.housework.label}}</button></div></div>
            <div class="line"><div class="five"><button class="hobby-button {{#if system.hobby.earnest.swot.value}}button-on{{/if}}" title="{{localize system.hobby.earnest.swot.label}}" data-hobby="swot" data-family="earnest" type="button" name="{{system.hobby.earnest.swot.label}}">{{localize system.hobby.earnest.swot.label}}</button></div></div>
            <div class="line"><div class="six"><button class="hobby-button {{#if system.hobby.earnest.health.value}}button-on{{/if}}" title="{{localize system.hobby.earnest.health.label}}" data-hobby="health" data-family="earnest" type="button" name="{{system.hobby.earnest.health.label}}">{{localize system.hobby.earnest.health.label}}</button></div></div>
        </div>
        <div class="holiday family-type">
            <div class="line"><div class="family">{{localize 'HOBBY.HOLIDAY'}}</div></div>
            <div class="line"><div class="one"><button class="hobby-button {{#if system.hobby.holiday.outdoor.value}}button-on{{/if}}" title="{{localize system.hobby.holiday.outdoor.label}}" data-hobby="outdoor" data-family="holiday" type="button" name="{{system.hobby.holiday.outdoor.label}}">{{localize system.hobby.holiday.outdoor.label}}</button></div></div>
            <div class="line"><div class="two"><button class="hobby-button {{#if system.hobby.holiday.craft.value}}button-on{{/if}}" title="{{localize system.hobby.holiday.craft.label}}" data-hobby="craft" data-family="holiday" type="button" name="{{system.hobby.holiday.craft.label}}">{{localize system.hobby.holiday.craft.label}}</button></div></div>
            <div class="line"><div class="three"><button class="hobby-button {{#if system.hobby.holiday.sport.value}}button-on{{/if}}" title="{{localize system.hobby.holiday.sport.label}}" data-hobby="sport" data-family="holiday" type="button" name="{{system.hobby.holiday.sport.label}}">{{localize system.hobby.holiday.sport.label}}</button></div></div>
            <div class="line"><div class="four">{{localize 'HOBBY.SAME'}}</div></div>
            <div class="line"><div class="five"><button class="hobby-button {{#if system.hobby.holiday.celebrity.value}}button-on{{/if}}" title="{{localize system.hobby.holiday.celebrity.label}}" data-hobby="celebrity" data-family="holiday" type="button" name="{{system.hobby.holiday.celebrity.label}}">{{localize system.hobby.holiday.celebrity.label}}</button></div></div>
            <div class="line"><div class="six"><button class="hobby-button {{#if system.hobby.holiday.travel.value}}button-on{{/if}}" title="{{localize system.hobby.holiday.travel.label}}" data-hobby="travel" data-family="holiday" type="button" name="{{system.hobby.holiday.travel.label}}">{{localize system.hobby.holiday.travel.label}}</button></div></div>
        </div>
        <div class="comfort family-type">
            <div class="line"><div class="family">{{localize 'HOBBY.COMFORT'}}</div></div>
            <div class="line"><div class="one"><button class="hobby-button {{#if system.hobby.comfort.nurture.value}}button-on{{/if}}" title="{{localize system.hobby.comfort.nurture.label}}" data-hobby="nurture" data-family="comfort" type="button" name="{{system.hobby.comfort.nurture.label}}">{{localize system.hobby.comfort.nurture.label}}</button></div></div>
            <div class="line"><div class="two"><button class="hobby-button {{#if system.hobby.comfort.lonely.value}}button-on{{/if}}" title="{{localize system.hobby.comfort.lonely.label}}" data-hobby="lonely" data-family="comfort" type="button" name="{{system.hobby.comfort.lonely.label}}">{{localize system.hobby.comfort.lonely.label}}</button></div></div>
            <div class="line"><div class="three"><button class="hobby-button {{#if system.hobby.comfort.killtime.value}}button-on{{/if}}" title="{{localize system.hobby.comfort.killtime.label}}" data-hobby="killtime" data-family="comfort" type="button" name="{{system.hobby.comfort.killtime.label}}">{{localize system.hobby.comfort.killtime.label}}</button></div></div>
            <div class="line"><div class="four"><button class="hobby-button {{#if system.hobby.comfort.creed.value}}button-on{{/if}}" title="{{localize system.hobby.comfort.creed.label}}" data-hobby="creed" data-family="comfort" type="button" name="{{system.hobby.comfort.creed.label}}">{{localize system.hobby.comfort.creed.label}}</button></div></div>
            <div class="line"><div class="five">{{localize 'HOBBY.SAME'}}</div></div>
            <div class="line"><div class="six"><button class="hobby-button {{#if system.hobby.comfort.wabisabi.value}}button-on{{/if}}" title="{{localize system.hobby.comfort.wabisabi.label}}" data-hobby="wabisabi" data-family="comfort" type="button" name="{{system.hobby.comfort.wabisabi.label}}">{{localize system.hobby.comfort.wabisabi.label}}</button></div></div>
        </div>
        <div class="red-light family-type">
            <div class="line"><div class="family">{{localize 'HOBBY.REDLIGHT'}}</div></div>
            <div class="line"><div class="one"><button class="hobby-button {{#if system.hobby.redLight.adult.value}}button-on{{/if}}" title="{{localize system.hobby.redLight.adult.label}}" data-hobby="adult" data-family="redLight" type="button" name="{{system.hobby.redLight.adult.label}}">{{localize system.hobby.redLight.adult.label}}</button></div></div>
            <div class="line"><div class="two"><button class="hobby-button {{#if system.hobby.redLight.eat.value}}button-on{{/if}}" title="{{localize system.hobby.redLightt.eat.label}}" data-hobby="eat" data-family="redLight" type="button" name="{{system.hobby.redLight.eat.label}}">{{localize system.hobby.redLight.eat.label}}</button></div></div>
            <div class="line"><div class="three"><button class="hobby-button {{#if system.hobby.redLight.gamble.value}}button-on{{/if}}" title="{{localize system.hobby.redLight.gamble.label}}" data-hobby="gamble" data-family="redLight" type="button" name="{{system.hobby.redLight.gamble.label}}">{{localize system.hobby.redLight.gamble.label}}</button></div></div>
            <div class="line"><div class="four"><button class="hobby-button {{#if system.hobby.redLight.gossip.value}}button-on{{/if}}" title="{{localize system.hobby.redLight.gossip.label}}" data-hobby="gossip" data-family="redLight" type="button" name="{{system.hobby.redLight.gossip.label}}">{{localize system.hobby.redLight.gossip.label}}</button></div></div>
            <div class="line"><div class="five"><button class="hobby-button {{#if system.hobby.redLight.fashion.value}}button-on{{/if}}" title="{{localize system.hobby.redLight.fashion.label}}" data-hobby="fashion" data-family="redLight" type="button" name="{{system.hobby.redLight.fashion.label}}">{{localize system.hobby.redLight.fashion.label}}</button></div></div>
            <div class="line"><div class="six">{{localize 'HOBBY.ACCIDENT'}}</div></div>
        </div>
    </div>
    <div class="prisoner-zone">
        <div class="title">
            <label>{{localize 'SATASUPE.PrisonerList'}}</label>
            <div class='add-new-prisoner'><a class="button" title="{{localize 'SATASUPE.AddPrisoner'}}"><i class="fas fa-plus"></i></a></div>
        </div>
        <table id="prisoner-table" class="prisoner-table">
            <thead>
                <tr class="header">
                    <th class="prisoner-name">{{localize 'SATASUPE.Name'}}</th>
                    <th class="prisoner-keep">{{localize 'EXP.UPKEEPS'}} </th>
                    <th class="prisoner-exp">{{localize 'EXP.EXP'}} </th>
                    <th class="prisoner-lovers">{{localize 'SATASUPE.Lovers'}}</th>
                    <th class="space"> </th>
                </tr>
            </thead>
            <tbody>
            {{#each system.prisoner as |section index|}}
                <tr class='prisoner-section' data-index='{{index}}' draggable="true">
                    <td class="addiction-name">
                        <div class="name-section">
                            <input class="prisoner-name-input" type="text" name="section.title" placeholder="{{localize 'SATASUPE.Name'}}" data-dtype="String" value="{{section.title}}"/>
                        </div>
                    </td>
                    <td class="checkbox prisoner-keep-check">
                        <label class="checkbox boolkey" data-boolkey="keep">
                            <input class="prisoner-bool"  type="checkbox" value="{{section.keep}}" title="{{localize 'SATASUPE.PrisonerKeep'}}" name="section.keep" data-dtype="Boolean" {{checked section.keep}}/>
                        </label>
                    </td>
                    <td class="checkbox prisoner-exp-check">
                        <label class="checkbox boolkey" data-boolkey="exp">
                            <input class="prisoner-bool" type="checkbox" value="{{section.exp}}" title="{{localize 'SATASUPE.PrisonerExp'}}" name="section.exp" data-dtype="Boolean" {{checked section.exp}}/>
                        </label>
                    </td>
                    <td class="checkbox prisoner-lovers-check">
                        <label class="checkbox boolkey" data-boolkey="lovers">
                            <input class="prisoner-bool" type="checkbox" value="{{section.lovers}}" name="section.lovers" data-dtype="Boolean" {{checked section.lovers}}/>
                        </label>
                    </td>
                    <td class="item-controls">
                        <a class="delete-section" title="{{localize 'SATASUPE.Delete'}}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="addiction-zone">
        <div class="title">
            <label>{{localize 'SATASUPE.AddictionList'}}</label>
            <div class='add-new-addiction'><a class="button" title="{{localize 'SATASUPE.AddAddiction'}}"><i class="fas fa-plus"></i></a></div>
        </div>
        <table id="addiction-table" class="addiction-table">
            <thead>
                <tr class="header">
                    <th class="addiction-name">{{localize 'SATASUPE.Name'}}</th>
                    <th class="usenum" title="{{localize 'SPEC.ADDICTIONv'}}">{{localize 'SATASUPE.Value'}}</th>
                    {{#if system.addictionrule}}<th class="usenum">{{localize 'SATASUPE.TIMES'}}</th>{{/if}}
                    <th class="addiction-addic" title="{{localize 'SPEC.ADDICTION'}}" style="width: 35px;">{{localize 'SPEC.ADDICTIONs'}}</th>
                    <th class="addiction-use" style="width: 35px;">{{localize 'SATASUPE.Use'}}</th>
                    <th class="space"> </th>
                </tr>
            </thead>
            <tbody>
            {{#each system.addiction as |section index|}}
                <tr class='addiction-section' data-index='{{index}}' draggable="true">
                    <td class="addiction-name">
                        <div class="name-section">
                            <input class="addiction-input" data-adic="title" type="text" name="section.title" placeholder="{{localize 'SATASUPE.Name'}}" data-dtype="String" value="{{section.title}}"/>
                        </div>
                    </td>
                    <td class="usenum">
                        <div title="{{localize 'SPEC.ADDICTIONv'}}">
                            <input class="addiction-input" data-adic="value" type="number" name="section.value" data-dtype="number" value="{{section.value}}">
                        </div>
                    </td>
                    {{#if ../system.addictionrule}}
                    <td class="usenum">
                        <div class="">
                            <input class="addiction-input" data-adic="times" type="number" name="section.times" data-dtype="number" value="{{section.times}}"/>
                        </div>
                    </td>
                    {{/if}}
                    <td class="checkbox">
                        <label class="checkbox boolkey" data-boolkey="addic" title="{{localize 'SPEC.ADDICTION'}}">
                            <input class="addiction-bool"  type="checkbox" value="{{section.addic}}" name="section.addic" data-dtype="Boolean" {{checked section.addic}}/>
                        </label>
                    </td>
                    <td class="checkbox addiction-use-check">
                        <label class="checkbox boolkey" data-boolkey="use">
                            <input class="addiction-bool"  type="checkbox" value="{{section.use}}" name="section.use" data-dtype="Boolean" {{checked section.use}}/>
                        </label>
                    </td>
                    <td class="item-controls">
                        <a class="delete-addic-section" title="{{localize 'SATASUPE.Delete'}}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>