<div class="karma-panel" style="height: 100%">
	{{#if actor.karmaSortable}}
		<table id="karma-table" class="karma-table">
			<thead>
				<tr class="karma-header">
					<th id="0" class="karma-typeName item-controls"><a class="item-control sort-table-before" title="up sort">{{localize 'SATASUPE.KarmaName'}}  <i class="fas fa-sort"></i></a><a class="item-control sort-table-up" title="up sort">{{localize 'SATASUPE.KarmaName'}}  <i class="fas fa-sort-up"></i></a><a class="item-control sort-table-down" title="down sort">{{localize 'SATASUPE.KarmaName'}}  <i class="fas fa-sort-down"></i></a></th>
					<th id="1" class="item-image"></th>
					<th id="2" class="item-name item-controls"><a class="item-control sort-table-before" title="up sort">{{localize 'SATASUPE.INOUDAISYOName'}}  <i class="fas fa-sort"></i></a><a class="item-control sort-table-up" title="up sort">{{localize 'SATASUPE.INOUDAISYOName'}}  <i class="fas fa-sort-up"></i></a><a class="item-control sort-table-down" title="down sort">{{localize 'SATASUPE.INOUDAISYOName'}}  <i class="fas fa-sort-down"></i></a></th>
					<th id="3" class="item-timing item-controls"><a class="item-control sort-table-before" title="up sort">{{localize 'SATASUPE.Timing'}}  <i class="fas fa-sort"></i></a><a class="item-control sort-table-up" title="up sort">{{localize 'SATASUPE.Timing'}}  <i class="fas fa-sort-up"></i></a><a class="item-control sort-table-down" title="down sort">{{localize 'SATASUPE.Timing'}}  <i class="fas fa-sort-down"></i></a></th>
					<th id="4" class="item-target item-controls"><a class="item-control sort-table-before" title="up sort">{{localize 'SATASUPE.Target'}}  <i class="fas fa-sort"></i></a><a class="item-control sort-table-up" title="up sort">{{localize 'SATASUPE.Target'}}  <i class="fas fa-sort-up"></i></a><a class="item-control sort-table-down" title="down sort">{{localize 'SATASUPE.Target'}}  <i class="fas fa-sort-down"></i></a></th>
					<th id="5" class="item-check item-controls"><a class="item-control sort-table-before" title="up sort">{{localize 'SATASUPE.Check'}}  <i class="fas fa-sort"></i></a><a class="item-control sort-table-up" title="up sort">{{localize 'SATASUPE.Check'}}  <i class="fas fa-sort-up"></i></a><a class="item-control sort-table-down" title="down sort">{{localize 'SATASUPE.Check'}}  <i class="fas fa-sort-down"></i></a></th>
					<th id="6" class="item-button item-controls"><a class="item-control add-item" title="{{localize 'SATASUPE.AddKarma'}}" data-type="karma"><i class="fas fa-plus"></i>     </a></th>
				</tr>
			</thead>
			<tbody class="main-body">
				{{#each actor.karma as |item id|}}
					<tr class="item karma-row" data-item-id="{{item._id}}" draggable="true">
						<td colspan="7">
							<table rules="none" class="inner-table">
								<tr class="karma-list">
									<td class="karma-typeName">{{localize item.data.type.label}}<br>{{item.data.description.typeName}}</td>
									<td class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="20" height="20"/></td>
									<td class="item-name">{{localize item.data.abilityType.label}} :{{item.name}}</td>
									<td class="item-timing">{{localize item.data.timing.label}}</td>
									<td class="item-target">{{localize item.data.target.label}}</td>
									<td class="item-check">{{#if item.data.check.none}}{{localize 'SATASUPE.None'}}{{else}}{{#if item.data.check.type}}〔{{localize 'SATASUPE.ALIGNMENT'}}〕 / {{localize item.data.check.alignment.label}}{{else}}〔{{localize item.data.check.checkValue.label}}〕/ {{item.data.check.difficulty}}{{/if}}{{/if}}</td>
									<td class="item-button item-controls">
										<a class="item-control show-detail" title="{{localize 'SATASUPE.OpenDetail'}}"><i class="fas fa-eye"></i></a><a class="item-control close-detail" title="{{localize 'SATASUPE.CloseDetail'}}"><i class="fas fa-eye-slash"></i></a>
										<a class="item-control item-edit" title="{{localize 'SATASUPE.Edit'}}"><i class="fas fa-edit"></i></a>
										<a class="item-control karma-delete" title="{{localize 'SATASUPE.Delete'}}"><i class="fas fa-trash"></i></a>
									</td>
								</tr>
								<tr class="item-detail">
									<td colspan="7" class="item-hide">{{item.data.effect}}</td>
								</tr>
							</table>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{else}}
		<table id="karma-table" class="karma-table">
			<thead>
				<tr class="karma-header no-Sort">
					<th data-id="karma-typeName" class="karma-typeName">{{localize 'SATASUPE.KarmaName'}}</th>
					<th data-id="item-image" class="item-image"></th>
					<th data-id="item-name" class="item-name">{{localize 'SATASUPE.INOUDAISYOName'}}</th>
					<th data-id="item-timing" class="item-timing">{{localize 'SATASUPE.Timing'}}</th>
					<th data-id="item-target" class="item-target">{{localize 'SATASUPE.Target'}}</th>
					<th data-id="item-check" class="item-check">{{localize 'SATASUPE.Check'}}</th>
					<th data-id="item-button item-controls"><a class="item-control add-item" title="{{localize 'SATASUPE.AddKarma'}}" data-type="karma"><i class="fas fa-plus"></i>     </a></th>
				</tr>
			</thead>
			<tbody>
				{{#each actor.karma as |item id|}}
					<tr class="item karma-row" data-item-id="{{item._id}}" draggable="true">
						{{#if_odd @index}}
						{{else}}
							<td class="karma-typeName" rowspan="2">{{localize item.data.type.label}}<br>{{item.data.description.typeName}}</td>
						{{/if_odd}}
						<td colspan="6">
							<table rules="none" class="inner-table">
								<tr class="karma-list" draggable="true">
									<td class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="20" height="20"/></td>
									<td class="item-name">{{localize item.data.abilityType.label}} :{{item.name}}</td>
									<td class="item-timing">{{localize item.data.timing.label}}</td>
									<td class="item-target">{{localize item.data.target.label}}</td>
									<td class="item-check">{{#if item.data.check.none}}{{localize 'SATASUPE.None'}}{{else}}{{#if item.data.check.type}}〔{{localize 'SATASUPE.ALIGNMENT'}}〕 / {{localize item.data.check.alignment.label}}{{else}}〔{{localize item.data.check.checkValue.label}}〕/ {{item.data.check.difficulty}}{{/if}}{{/if}}</td>
									<td class="item-button item-controls">
										<a class="item-control show-detail" title="{{localize 'SATASUPE.OpenDetail'}}"><i class="fas fa-eye"></i></a><a class="item-control close-detail" title="CLOSE DETAIL"><i class="fas fa-eye-slash"></i></a>
										<a class="item-control item-edit" title="{{localize 'SATASUPE.Edit'}}"><i class="fas fa-edit"></i></a>
										<a class="item-control karma-delete" title="{{localize 'SATASUPE.Delete'}}"><i class="fas fa-trash"></i></a>
									</td>
								</tr>
								<tr class="item-detail">
									<td colspan="6" class="item-hide">{{item.data.effect}}</td>
								</tr>
							</table>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{/if}}
</div>