<div class="chatpalette-panel" style="height:100%;">
    <table id="chatpalette-table" class="chatpalette-table">
        <thead>
            <tr class="header">
                <th class="dice-folmula-text" title="{{localize 'SATASUPE.DicebotCommandExplanation'}}">{{localize 'SATASUPE.DiceFolmula'}}</th>
                <th class="other-message">{{localize 'SATASUPE.DiceMessage'}}</th>
                <th class="item-button item-controls"><a class="button item-control add-item" title="{{localize 'SATASUPE.AddChatpalette'}}" data-type="chatpalette"><i class="fas fa-plus"></i></a></th>
                <th class="setting"><a class="button item-control infomation" title="{{localize 'SATASUPE.BCDiceBotInfo'}}" data-type="chatpalette"><i class="fas fa-info-circle"></i></a><a class="button item-control table-show-hide" title="{{localize 'SATASUPE.VariableSetteings'}}" data-type="chatpalette"><i class="fas fa-cogs"></i></a></th>
            </tr>
        </thead>
        <tbody class="chatpalette-tbody">
            {{#each actor.chatpalette as |item index|}}
                {{#each item.data.chatpalette.chat as |section ind|}}
                    <tr class="item chatpalette-section" data-item-id='{{item._id}}' data-index='{{index}}' data-ind='{{ind}}'>
                        <td class="dice-folmula-text">
                            <div class="text-section section-key" data-sectionkey="text">
                                <input class="text-input  chat-section-input" type="text" name="section.text" data-dtype="String" value="{{section.text}}" placeholder="{{localize 'SATASUPE.DiceFolmula'}}"/>
                            </div>
                        </td>
                        <td class="other-message">
                            <div class="message-section section-key" data-sectionkey="message">
                                <input class="message-input  chat-section-input" type="text" name="section.message" data-dtype="String" value="{{section.message}}" placeholder="{{localize 'SATASUPE.DiceMessage'}}"/>
                            <div>
                        </td>
                        <td class="item-button send">
                            <div class="chatsend">
                                <input class="chatsend-button" type="button" value="{{localize 'SATASUPE.SUBMIT'}}"/> 
                            </div>
                        </td>
                        <td class="item-controls item-button setting">
                            <a class="item-control delete-chatpalette-section" title="{{localize 'SATASUPE.Delete'}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {{/each}}
            {{/each}}
        </tbody>
    </table>

    <table id="variable-setting-table" class="variable-setting-table {{#unless data.status.allonoff.variableonoff}}hide-table{{/unless}}">
        <thead>
            <tr class="header">
                <th class="characteristics"><div>{{localize 'SATASUPE.CharacteristicName'}}</div></th>
                <th class="variable"><div title="{{localize 'SATASUPE.VariableExplanation'}}">{{localize 'SATASUPE.VaribleText'}}</div></th>
                <th class="all-on-off"><div class="on-off"><label class="checkbox all-on-off-button">{{localize 'SATASUPE.Activate'}}({{localize 'SATASUPE.AllOnOff'}}: <input type="checkbox" value="{{data.status.allonoff.value}}" name="data.status.allonoff.value" {{checked data.status.allonoff.value}}/>)</label></div></th>
                <th class="item-button item-controls"><a class="button item-control add-new-variable" title="Add new variable"><i class="fas fa-plus"></i></a></th>
            </tr>
        </thead>
        <tbody class="variable-setting-tbody chatpalette-tbody">
            {{#each data.variable as |section index|}}
                <tr class="item variable-section" data-index='{{index}}'>
                    <td>
                        <div class="characteristics-section variable-key section-key" data-sectionkey="title">
                            <input class="variable-title variable-section-input" type="text" name="section.title" placeholder="Input value" data-dtype="String" value="{{section.title}}"/>
                        </div>
                    </td>
                    <td>
                        <div class="text variable-key section-key" data-sectionkey="variable">
                            <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text variable-section-input" type="text" name="section.variable" value="{{section.variable}}" data-dtype="String"/>
                        </div>
                    </td>
                    <td class="item-controls">
                        <div class="on-off section-key" data-sectionkey="substitution"><label class="checkbox"><input class="variable-section-input" type="checkbox" value="{{section.substitution}}" name="section.substitution" data-dtype="Boolean" {{checked section.substitution}}/></label></div>
                    </td>
                    <td  class="item-controls">
                        <a class="item-control delete-vatiable-section" title="{{localize 'SATASUPE.Delete'}}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {{/each}}
            {{#each data.circumstance as |circumstance key|}}
                <tr class="item variable-section" data-characteristic="{{key}}">
                    <td>
                        <div class="characteristics-section variable-key">
                            <div class="characteristic-label">{{localize circumstance.label}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="text variable-key">
                            <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="data.circumstance.{{key}}.variable" value="{{localize circumstance.variable}}" data-dtype="String"/>
                        </div>
                    </td>
                    <td class="item-controls">
                        <div class="on-off"><label class="checkbox"><input type="checkbox" name="data.circumstance.{{key}}.substitution" {{checked circumstance.substitution}}/></label></div>
                    </td>
                    <td>
                        <div class="space"> </div>
                    </td>
                </tr>
            {{/each}}
            {{#each data.aptitude as |aptitude key|}}
            <tr class="item variable-section" data-characteristic="{{key}}">
                <td>
                    <div class="characteristics-section variable-key">
                        <div class="characteristic-label">{{localize aptitude.label}}</div>
                    </div>
                </td>
                <td>
                    <div class="text variable-key">
                        <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="data.aptitude.{{key}}.variable" value="{{localize aptitude.variable}}" data-dtype="String"/>
                    </div>
                </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="data.aptitude.{{key}}.substitution" {{checked aptitude.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
            </tr>
             {{/each}}
             {{#each data.combat as |combat key|}}
             <tr class="item variable-section" data-characteristic="{{key}}">
                 <td>
                     <div class="characteristics-section variable-key">
                         <div class="characteristic-label">{{localize combat.label}}</div>
                     </div>
                 </td>
                 <td>
                     <div class="text variable-key">
                         <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="data.combat.{{key}}.variable" value="{{localize combat.variable}}" data-dtype="String"/>
                     </div>
                 </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="data.combat.{{key}}.substitution" {{checked combat.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
             </tr>
              {{/each}}
              <tr class="item variable-section" data-characteristic="majorWoundsOffset">
                <td>
                    <div class="characteristics-section variable-key">
                        <div class="characteristic-label">{{localize data.status.majorWoundsOffset.label}}</div>
                    </div>
                </td>
                <td>
                    <div class="text variable-key">
                        <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="data.status.majorWoundsOffset.variable" value="{{localize data.status.majorWoundsOffset.variable}}" data-dtype="String"/>
                    </div>
                </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="data.status.majorWoundsOffset.substitution" {{checked data.status.majorWoundsOffset.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
            </tr>
            <tr class="item variable-section" data-characteristic="sleep">
                <td>
                    <div class="characteristics-section variable-key">
                        <div class="characteristic-label">{{localize data.status.sleep.explain}}</div>
                    </div>
                </td>
                <td>
                    <div class="text variable-key">
                        <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="data.status.sleep.variable" value="{{localize data.status.sleep.variable}}" data-dtype="String"/>
                    </div>
                </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="data.status.sleep.substitution" {{checked data.status.sleep.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
            </tr>
            <tr class="item variable-section" data-characteristic="fumble">
                <td>
                    <div class="characteristics-section variable-key">
                        <div class="characteristic-label">{{localize data.status.fumble.label}}</div>
                    </div>
                </td>
                <td>
                    <div class="text variable-key">
                        <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="data.status.fumble.variable" value="{{localize data.status.fumble.variable}}" data-dtype="String"/>
                    </div>
                </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="data.status.fumble.substitution" {{checked data.status.fumble.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
            </tr>
            <tr class="item variable-section" data-characteristic="trauma">
                <td>
                    <div class="characteristics-section variable-key">
                        <div class="characteristic-label">{{localize data.status.trauma.label}}</div>
                    </div>
                </td>
                <td>
                    <div class="text variable-key">
                        <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="data.status.trauma.variable" value="{{localize data.status.trauma.variable}}" data-dtype="String"/>
                    </div>
                </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="data.status.trauma.substitution" {{checked data.status.trauma.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
            </tr>
              {{#each data.attribs as |attribs key|}}
              <tr class="item variable-section" data-characteristic="{{key}}">
                  <td>
                      <div class="characteristics-section variable-key">
                          <div class="characteristic-label">{{localize attribs.label}}</div>
                      </div>
                  </td>
                  <td>
                      <div class="text variable-key">
                          <input placeholder="{{localize 'SATASUPE.VariableExplanationS'}}" class="variable-text" type="text" name="data.attribs.{{key}}.variable" value="{{localize attribs.variable}}" data-dtype="String"/>
                      </div>
                  </td>
                <td class="item-controls">
                    <div class="on-off"><label class="checkbox"><input type="checkbox" name="data.attribs.{{key}}.substitution" {{checked attribs.substitution}}/></label></div>
                </td>
                <td>
                    <div class="space"> </div>
                </td>
              </tr>
               {{/each}}
        </tbody>
    </table>
</div>