<br>
<div class="buttons-panel">
    <div class="check-zone">
        <div>
            <input type="button" class="check-button char" data-char="crime" value="{{localize 'SATASUPE.CRIMECHECK'}}"/>
            <input type="button" class="check-button char" data-char="life" value="{{localize 'SATASUPE.LIFECHECK'}}"/>
            <input type="button" class="check-button char" data-char="love" value="{{localize 'SATASUPE.LOVECHECK'}}"/>
            <input type="button" class="check-button char" data-char="culture" value="{{localize 'SATASUPE.CULTURECHECK'}}"/>
            <input type="button" class="check-button char" data-char="combat" value="{{localize 'SATASUPE.COMBATCHECK'}}"/>
            <input type="button" class="check-button char" data-char="body" value="{{localize 'SATASUPE.BODYCHECK'}}"/>
            <input type="button" class="check-button char" data-char="mind" value="{{localize 'SATASUPE.MINDCHECK'}}"/>
            <input type="button" class="check-button char" data-char="arms" value="{{localize 'SATASUPE.ARMSCHECK'}}"/>
            <input type="button" class="check-button char" data-char="generic" value="{{localize 'SATASUPE.GENECHECK'}}"/>
            <input type="button" class="check-button alignment" data-char="alignment" value="{{localize 'SATASUPE.ALIGNCHECK'}}"/>
        </div>
    </div>
    <div class="table-zone">
        <fieldset class="tablebutton-tytle">
            <legend>{{localize 'SATASUPE.INFORMATIONPART'}}</legend>
            <div class="information-table-zone">
                <input type="button" class="table-button information" data-tname="crimeiet" value="{{localize 'SATASUPE.CRIMEIET'}}"/>
                <input type="button" class="table-button information" data-tname="lifeiet" value="{{localize 'SATASUPE.LIFEIET'}}"/>
                <input type="button" class="table-button information" data-tname="loveiet" value="{{localize 'SATASUPE.LOVEIET'}}"/>
                <input type="button" class="table-button information" data-tname="cultureiet" value="{{localize 'SATASUPE.CULTUREIET'}}"/>
                <input type="button" class="table-button information" data-tname="combatiet" value="{{localize 'SATASUPE.COMBATIET'}}"/>
                <input type="button" class="table-button information" data-tname="crimeiht" value="{{localize 'SATASUPE.CRIMEIHT'}}"/>
                <input type="button" class="table-button information" data-tname="lifeiht" value="{{localize 'SATASUPE.LIFEIHT'}}"/>
                <input type="button" class="table-button information" data-tname="loveiht" value="{{localize 'SATASUPE.LOVEIHT'}}"/>
                <input type="button" class="table-button information" data-tname="cultureiht" value="{{localize 'SATASUPE.CULTUREIHT'}}"/>
                <input type="button" class="table-button information" data-tname="combatiht" value="{{localize 'SATASUPE.COMBATIHT'}}"/>
            </div>
        </fieldset>
        <fieldset class="tablebutton-tytle">
            <legend>{{localize 'SATASUPE.ACTIONPART'}}</legend>
            <div class="combat-table-zone">
                <input type="button" class="table-button combat" data-tname="fumblet" value="{{localize 'SATASUPE.HITFUMBLET'}}"/>
                <input type="button" class="table-button combat" data-tname="fatalt" value="{{localize 'SATASUPE.FATALT'}}"/>
                <input type="button" class="table-button combat" data-tname="fatalvt" value="{{localize 'SATASUPE.FATALVT'}}"/>
                <input type="button" class="table-button combat" data-tname="accidentt" value="{{localize 'SATASUPE.ACCIDENTT'}}"/>
                <input type="button" class="table-button combat" data-tname="generalat" value="{{localize 'SATASUPE.GENERALAT'}}"/>
                <input type="button" class="table-button combat" data-tname="romanceft" value="{{localize 'SATASUPE.ROMANCEFT'}}"/>
                <input type="button" class="table-button combat" data-tname="entert" value="{{localize 'SATASUPE.ENTERT'}}"/>
                <input type="button" class="table-button combat" data-tname="getgt" value="{{localize 'SATASUPE.GETGT'}}"/>
                <input type="button" class="table-button combat" data-tname="getzt" value="{{localize 'SATASUPE.GETZT'}}"/>
                <input type="button" class="table-button combat" data-tname="getnt" value="{{localize 'SATASUPE.GETNT'}}"/>
                <input type="button" class="table-button combat" data-tname="getkt" value="{{localize 'SATASUPE.GETKT'}}"/>
            </div>
        </fieldset>
        <fieldset class="tablebutton-tytle">
            <legend>{{localize 'SATASUPE.ENCOUNTER'}}</legend>
            <div class="encounter-table-zone">
                <input type="button" class="table-button encounter" data-tname="minamiret" value="{{localize 'SATASUPE.MINAMIENCOUNTER'}}"/>
                <input type="button" class="table-button encounter" data-tname="chinatownret" value="{{localize 'SATASUPE.CHINATOWNENCOUNTER'}}"/>
                <input type="button" class="table-button encounter" data-tname="warshiplandret" value="{{localize 'SATASUPE.WARSHIPENCOUNTER'}}"/>
                <input type="button" class="table-button encounter" data-tname="civiccenterret" value="{{localize 'SATASUPE.CIVICENCOUNTER'}}"/>
                <input type="button" class="table-button encounter" data-tname="downtownret" value="{{localize 'SATASUPE.DOWNTOWNENCOUNTER'}}"/>
                <input type="button" class="table-button encounter" data-tname="shaokinret" value="{{localize 'SATASUPE.SHAOKINENCOUNTER'}}"/>
                <input type="button" class="table-button encounter" data-tname="loveloveret" value="{{localize 'SATASUPE.LOVEENCOUNTER'}}"/>
                <input type="button" class="table-button encounter" data-tname="ajitoret" value="{{localize 'SATASUPE.AJITOENCOUNTER'}}"/>
                <input type="button" class="table-button encounter" data-tname="jigokusparet" value="{{localize 'SATASUPE.JIGOKUSPAENCOUNTER'}}"/>
                <input type="button" class="table-button encounter" data-tname="jailhouseret" value="{{localize 'SATASUPE.JAILHOUSEENCOUNTER'}}"/>
            </div>
        </fieldset>
        <fieldset class="tablebutton-tytle">
            <legend>{{localize 'SATASUPE.OTHERTABLE'}}</legend>
            <div class="other-table-zone">
                <input type="button" class="table-button other" data-tname="kusaimt" value="{{localize 'SATASUPE.KUSAIMT'}}"/>
                <input type="button" class="table-button other" data-tname="budtt" value="{{localize 'SATASUPE.BUDTT'}}"/>
                <input type="button" class="table-button other" data-tname="aftert" value="{{localize 'SATASUPE.AFTERT'}}"/>
                <input type="button" class="table-button other" data-tname="timeut" value="{{localize 'SATASUPE.TIMEUPT'}}"/>
                <input type="button" class="table-button other" data-tname="payt" value="{{localize 'SATASUPE.PAYT'}}"/>
                <input type="button" class="table-button other" data-tname="treatmentit" value="{{localize 'SATASUPE.TREATMENTT'}}"/>
                <input type="button" class="table-button other" data-tname="collegeit" value="{{localize 'SATASUPE.COLLEGET'}}"/>
            </div>
        </fieldset>
        <fieldset class="tablebutton-tytle">
            <legend>{{localize 'SATASUPE.ORIGINALTABLE'}}</legend>
            <div class="original-table-zone">
                {{#each system.tablelist as |list key|}}
                    <input type="button" class="table-button original" value="{{list.name}}" name="{{list.id}}" data-tname="origin"/>
                {{/each}}
            </div>
        </fieldset>
    </div>
</div>