<div class="history-panel" style="height:100%">
    <div class="scenario-zone">
        <div class="title">
            <label>{{localize 'SATASUPE.PlayedScenarioList'}}</label>
            <div class='add-new-scenario'><a class="button" title="{{localize 'SATASUPE.AddPlayedScenario'}}"><i class="fas fa-plus"></i></a></div>
        </div>
        <table id="scenario-table" class="scenario-table">
            <thead>
                <tr class="header">
                    <th class="scenario-title">{{localize 'SATASUPE.ScenarioName'}}</th>
                    <th class="scenario-DD">{{localize 'SATASUPE.ScenarioDD'}}</th>
                    <th class="scenario-Day">{{localize 'SATASUPE.ScenarioDay'}}</th>
                    <th class="new-advanced-karma">{{localize 'KARMA.ADVANCED'}}</th>
                    <th class="scenario-exp">{{localize 'EXP.EXP'}}</th>
                    <th class="scenario-note">{{localize 'SATASUPE.Note'}}</th>
                    <th class="space"> </th>
                </tr>
            </thead>
            <tbody>
                {{#each data.scenario as |section index|}}
                    <tr class='scenario-section' data-index='{{index}}' draggable="true">
                        <td class="scenario-title">
                            <div class="title-section section-key" data-sectionkey="title">
                                <input class="scenario-title-input section-input" type="text" name="section.title" placeholder="{{localize 'SATASUPE.ScenarioName'}}" data-dtype="String" value="{{section.title}}"/>
                            </div>
                        </td>
                        <td class="scenario-DD">
                            <div class="dd-section section-key" data-sectionKey="dd">
                                <input class="scenario-dd-input section-input" type="text" name="section.dd" placeholder="{{localize 'SATASUPE.ScenarioDD'}}" data-dtype="String" value="{{section.dd}}"/>
                            </div>
                        </td>
                        <td class="scenario-Day">
                            <div class="day-section section-key" data-sectionkey="day">
                                <input class="scenario-day-input section-input" type="text" name="section.day" placeholder="{{localize 'SATASUPE.ScenarioDay'}}" data-dtype="String" value="{{section.day}}"/>
                            </div>
                        </td>
                        <td class="new-advanced-karma">
                            <div class="karma-section section-key" data-sectionkey="karma">
                                <select class="section-input" name="section.karma" data-dtype="String">
                                    {{#select section.karma}}
                                        <option hidden value="">{{localize 'SATASUPE.Select'}}</option>
                                        <option value="boss">{{localize 'ADVANCED.BOSS'}}</option>
                                        <option value="spiv">{{localize 'ADVANCED.SPIV'}}</option>
                                        <option value="torpedo">{{localize 'ADVANCED.TORPEDO'}}</option>
                                        <option value="bodyguard">{{localize 'ADVANCED.BODYGUARD'}}</option>
                                        <option value="masher">{{localize 'ADVANCED.MASHER'}}</option>
                                        <option value="goddamnliar">{{localize 'ADVANCED.GODDAMNLIAR'}}</option>
                                        <option value="fivefingers">{{localize 'ADVANCED.FIVEFINGERS'}}</option>
                                        <option value="hotrod">{{localize 'ADVANCED.HOTROD'}}</option>
                                        <option value="batcarrier">{{localize 'ADVANCED.BATCARRIER'}}</option>
                                        <option value="illegalmeister">{{localize 'ADVANCED.ILLEGALMEISTER'}}</option>
                                        <option value="psycho">{{localize 'ADVANCED.PSYCHO'}}</option>
                                        <option value="hopelesscase">{{localize 'ADVANCED.HOPELESSCASE'}}</option>
                                    {{/select}}
                                </select>
                            </div>
                        </td>
                        <td class="scenario-exp">
                            <div class="exp-section section-key" data-sectionkey="exp">
                                <input class="scenario-exp-input section-input" type="number" name="section.exp" placeholder="{{localize 'EXP.EXP'}}" data-dtype="String" value="{{section.exp}}"/>
                            </div>
                        </td>
                        <td  class="scenario-note">
                            <div class="note-section section-key" data-sectionkey="note">
                                <textarea class="scenario-note-input section-input" rows="1" cols="20">{{section.note}}</textarea>
                            </div>
                        </td>
                        <td class="item-controls">
                            <a class="delete-scenario-section section-input" title="{{localize 'SATASUPE.Delete'}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="background-zone">
        <label class="background-header">{{localize 'SATASUPE.BACKGROUND'}}</label>
        {{editor content=data.bg.bg.value target="data.bg.bg.value" style="height:95%" button=true owner=owner editable=editable}}
    </div>
</div>